.tiptap-typography {
  @apply prose prose-custom first:mt-0 dark:prose-invert prose-code:w-fit prose-code:rounded-sm prose-code:bg-secondary prose-code:px-1 prose-code:py-0.5 prose-code:tracking-wide prose-code:text-secondary-foreground prose-code:before:content-none prose-code:after:content-none prose-table:first:mt-0 prose-table:first:mb-0 prose-th:border prose-th:p-2 prose-td:border prose-td:first:p-2 prose-img:mx-auto prose-img:rounded-sm prose-pre:[&_code]:rounded-none prose-pre:[&_code]:bg-transparent prose-pre:[&_code]:p-0 prose-pre:[&_code]:tracking-normal prose-table:[&_p]:m-0 prose-table:[&_p]:p-0;

  audio,
  video,
  iframe {
    @apply mx-auto my-3 w-full rounded-sm;
  }

  .tableWrapper {
    @apply my-6 overflow-hidden rounded-lg border border-border;
  }
}

.tiptap {
  .ProseMirror-selectednode {
    @apply rounded-xs outline-3 outline-primary;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  td,
  th {
    position: relative;
  }
  .selectedCell:after {
    background: var(--primary);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .column-resize-handle {
    @apply bg-primary;
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
  }

  /* while working with tiptap extensions, we need to override the default styles */
  @apply prose-img:my-0;
}
